#____________________________________
# self generated result, log
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

test/
html/
trash/
_results/*.json
_results/*.xls

*.log


#____________________________________
# Temporary Files
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
__pycache__/
.ipynb_checkpoints



#____________________________________
# Temporary excel file
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*.xls
*.xlsx
