#___________+_______________+__________@
#           |               |
#  +~~~~~~~~|~~~~~~~~~~~~~~~|~~~~~~~~~~+
#  |   self generated result, log, txt |
#  +...................................+
#  |                                   |
#  |   ---- *.ini - SECURITY ALART!    |
#  |                                   |
#  +^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^+
#

*.ini

#_______________________________________

.ipynb_checkpoints
__pycache__/
*.log
*.lnk

test/
html/
trash/

#____________________________________
# Temporary Files
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*.xls
*.xlsx

_results/*.md
_results/*.json

#____________________________________
# should be hidden
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
_config_security.py

module_sellenium/works/*.png
module_sellenium/works/interests_*/*.png
