#____________________________________
# self generated result, log
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
*.ini
*.log
*.lnk

_results/*.md
_results/*.json

test/
html/
trash/

#____________________________________
# Temporary Files
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
__pycache__/
.ipynb_checkpoints
*.xls
*.xlsx

#____________________________________
# should be hidden
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
_config_security.py

module_sellenium/works/interests_*/*.png
